
    # for pnpm mode
    public-hoist-pattern[]=@babel/runtime
    
    
    public-hoist-pattern[]=pinia
    public-hoist-pattern[]=*vue-server-renderer*
    public-hoist-pattern[]=*@vue/server-renderer*
    
    
    public-hoist-pattern[]=ssr*
    public-hoist-pattern[]=axios
    